<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("./partials/nav") %>
    <h1>Watched It!</h1>
    <p>A movie app where you can post the movies your watched and make comments on other movies that are already listed.</p>
</body>
</html>