<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create a New Movie Here</h1>
    <form action="/movies" method="POST">
        <div>
            <label for="title">Movie Title:</label>
            <input type="text" name="title" id="title">
        </div>
        <div>
            <label for="director">Director:</label>
            <input type="text" name="director" id="director">
        </div>
        <div>
            <label for="actors">Actors:</label>
            <input type="text" name="actors" id="actors">
        </div>
        <div>
            <label for="runningTime">Running Time:</label>
            <input type="text" name="runningTime" id="runningTime">
        </div>
        <div>
            <label for="genre">Movie Genre:</label>
            <input type="text" name="genre" id="genre">
        </div>
        <div>
            <label for="rating">Movie Rating:</label>
            <input type="text" name="rating" id="rating">
        </div>
        <div>
            <label for="releaseYear">Released:</label>
            <input type="text" name="releaseYear" id="releaseYear">
        </div>
        <button type=""submit>Submit Movie</button>
    </form>
</body>
</html>